<div id="about-section" class="about-me">
  <div class="about-container">
    <div class="about-content">
      <h3 class="heading">What's My Story?</h3>

      <div class="info">
        <p>I'm originally from Myrtle Beach, South Carolina, but moved to the Midwest to study at the University of Notre Dame. I  will graduate with a Bachelor of Science degree in Computer Science and a Bachelor of Arts degree in Design in the Winter of 2014. From there, I do not know where I will be at yet but I look forward to the next adventure! When I'm not pushing around pixels or building out one of my many ideas, you can most likely find me photographing, longboarding, drinking coffee, or bboying. Feel free to <a href="mailto:hello@iheanyi.com" class="fancy-link">get in touch</a> with me, especially if you have questions about anything!</p>
      </div>
    </div>
  </div>
</div>
