<div id="about-section" class="about-me">
  <div class="about-container">
    <div class="about-content">
      <h3 class="heading">What's My Story?</h3>

      <div class="info">
        <p>I was born and raised in Myrtle Beach, South Carolina, but decided to leave the South to study Computer Science and Design at the University of Notre Dame. As part of the Reilly Dual-Degree program, I will receive my Bachelor of Science and Bachelor of Arts in December 2014. I'm unsure of where my next stop is, but I have dreams of working as a Software Engineer somewhere warm, like the West Coast.  Although I may be a lover of design, I'm also passionate about photography and hip-hop dance and always love talking about both. Feel free to <a href="mailto:hello@iheanyi.com" class="fancy-link">get in touch</a> with me, let's get to know one another and work together!</p>
      </div>
    </div>
  </div>
</div>
