<div id="contact" class="contact">
  <div class="contact-container">
    <div class="contact-content">
      <h3 class="heading big-heading">Let's Talk</h3>

      <p class="contact-text">
      I always welcome any emails that people may have, whether you want to talk careers, projects, or just talk about life in general. Don't be shy, feel free to <a class="fancy-link" href="mailto:hello@iheanyi.com">e-mail me</a> or contact me by other means. I look forward to hearing from you!
      </p>

    </div>
    <!-- /.contact-content -->
  </div>
  <!-- /.contact-container -->
</div>
<!-- /.contact -->