<div class="footer">
  <div class="footer-container">
    <div class="footer-content">
            <div class="footer-left">

              <p>&copy; 2014 Iheanyi Ekechukwu.</p>

              <p class="tools">Crafted with &#x2764;, <a class="ref-link" href="http://bourbon.io">Bourbon</a>, <a href="http://neat.bourbon.io" class="ref-link">Neat</a>, and <a class="ref-link" href="http://middlemanapp.com">Middleman</a>.</p>

            </div>

            <div class="footer-right">
                <ul>
                  <li><a href="mailto:hello@iheanyi.com" class="ion-ios7-email contact-link"></a></li>
                  <li><a href="http://dribbble.com/iheanyi" class="ion-social-dribbble contact-link"></a></li>
                  <li><a href="http://github.com/iheanyi" class="ion-social-github contact-link"></a></li>
                  <li><a href="http://linkedin.com/in/iheanyi" class="ion-social-linkedin contact-link"></a></li>
                  <li><a href="http://twitter.com/kwuchu" class="ion-social-twitter contact-link"></a></li>
                </ul>
            </div>

    </div>
    <!-- /.footer-content -->
  </div>
  <!-- /.footer-container -->
</div>
<!-- /.footer -->