<div id="header" class="header">
    <%= partial "partials/navigation" %>

  <div class="message-container">
          <div class="message">
            <h1 class="hello"><span class="cursor">_</span></h1>

            <div class="subtext">

              <p class="intro">I'm <span class="bold">Iheanyi Ekechukwu</span>, a software developer, designer, and digital craftsman.</p>

              <p class="bold">Warning: Site has most of my desired content, but I'm still finetuning the CSS and JavaScript, so please be patient with me.</p>

              <a rel="_blank" href="/images/IheanyiShortResume.pdf" class="btn-resume scale">View My Résumé</a>

              <p class="check bold">Scroll down to learn more about me.</p>

              <div class="ion-ios7-arrow-down arrow" id="scroll-more"></div>

            </div>


          </div>
    </div>
</div>

