<div class="navigation">
    <div class="container">
      <nav class="nav-collapse">
        <div class="color-swap brand">
          <a class="brand-logo" href="#header">//iheanyi</a>
        </div>

        <ul class="color-swap nav-list">
          <li class="color-swap hide-desktop"><a class="hide-desktop" href="#header">//iheanyi.</a></li>
          <li class="color-swap"><a class="scale" href="#about-section">About</a></li>
          <li class="color-swap"><a class="scale" href="#skills">Skills</a></li>
          <li class="color-swap"><a class="scale" href="#projects">Projects</a></li>
          <li class="color-swap"><a class="scale"href="#contact">Contact</a></li>
        </ul>
      </nav>
  </div>
</div>