<div class="navigation">
    <div class="container">
      <nav class="nav-collapse">
        <div class="brand">
          <a class="brand-logo" href="#header">//iheanyi</a>
        </div>

        <ul class="nav-list">
          <li class="hide-desktop"><a class="hide-desktop" href="">//iheanyi.</a></li>
<!--           <li class="scale"><a class=""  href="">Home</a></li>
 -->          <li class=""><a class="scale" href="#about-section">About</a></li>
           <li class=""><a class="scale" href="#skills">Skills</a></li>
              <li class=""><a href="#projects" class="scale">Projects</a></li>
<!--           <li class="scale"><a href="" class="">Blog</a></li>
 -->          <li class=""><a href="#contact" class="scale">Contact</a></li>
        </ul>
      </nav>
  </div>
</div>