<div data-0="background-color:rgba(255,255,255,0);" data-500="background-color:rgba(255,255,255,1);" class="navigation">
    <div class="container">
      <nav class="nav-collapse">
        <div class="color-swap brand">
          <a class="brand-logo" href="#header">//iheanyi</a>
        </div>

        <ul class="color-swap nav-list">
          <li class="color-swap hide-desktop"><a class="hide-desktop" href="#header">//iheanyi.</a></li>
          <li class="color-swap"><a class="scale" href="#about-section">about</a></li>
          <li class="color-swap"><a class="scale" href="#skills">skills</a></li>
          <li class="color-swap"><a class="scale" href="#projects">projects</a></li>
          <li class="color-swap"><a class="scale"href="#contact">contact</a></li>
        </ul>
      </nav>
  </div>
</div>