<div id="skills" class="skill-set">
  <div class="service-container">

    <div class="service-content">
      <h3 class="heading">What Can I Do?</h3>

      <!--<div class="services-grid">-->
      <div class="third">

        <div class="ion-android-developer service-logo"></div>
        <h3 class="card-header center">Web Development</h3>


        <p>Not only am I able to do front-end development, but I also have experience with backend development in PHP, Python (Flask, some Django, CherryPy), and I'm currently dabbling with Ruby on Rails.</p>
      </div>


      <div class="third">
        <div class="ion-social-android service-logo"></div>
        <h3 class="card-header center">Android Development</h3>

        <p>
          I'm familiar with the Android SDK and Android Development, having developed five Android applications – two of my own and three that are proprietary or research-related. Within my applications, I do my best to follow Google's Design Guidelines to allow for a consistent user experience.
        </p>

      </div>
      <div class="third">
        <div class="ion-android-contact service-logo"></div>
        <h3 class="card-header center">User Interface Design</h3>

        <p>Before designing any of my websites and applications, I design the user interfaces, starting with a general wireframe and depending on the project, making a full mockup using Sketch. This allows me to get a general feel for how the user will interact with the website or application.</p>

      </div>
    </div>
  <!--</div>-->
  </div>
</div>
