---
title: Iheanyi Ekechukwu
---

<div class="bg-image">
  <div class="container">
    <div class="message">

      <h1 class="hello"><span class="cursor">_</span></h1>

      <div class="info">
        <p>I'm Iheanyi, a web developer and University of Notre Dame student. I'm currently coding my new portfolio design but if you want, you can <a href="http://iheanyi.github.io">view my old site</a> or <a href="#">view my résumé</a>.</p>

        <p>Feel free to <a href="mailto:hello@iheanyi.com">e-mail me</a> or visit me on other areas of the web! :)</p>
        <ul class="social">
          <li><a href="mailto:hello@iheanyi.com">E-Mail</a></li> &diams;

          <li><a href="http://github.com/iheanyi">GitHub</a></li> &diams;

          <li><a href="http://twitter.com/kwuchu">Twitter</a></li> &diams;

          <li><a href="https://www.linkedin.com/in/iheanyi">LinkedIn</a> &diams;</li>
          <li><a href="https://dribbble.com/iheanyi">Dribbble</a></li> &diams;

          <li><a href="http://www.rdio.com/iheanyi/">Rdio</a></li>

        </ul>
      </div>
    </div>
  </div>
</div>